.app {
  display: flex;
  height: 100vh;
}
  
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.left-sidebar.closed {
  width: 5%;
}

.body {
  width: 60%;
  padding: 20px;
  overflow-y: auto;
}

.right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.right-sidebar.closed {
  width: 5%;
}